@use "../../styles/variables" as *;
@use "../../styles/functions" as *;


.cover-image{
  background-image: url("../../../public/images/iphone/phone-illustration.png");
  background-repeat: no-repeat;
  background-position: left ;
  

}
.swap-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  
  font-family: $font;
  


  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
    padding-top: rem(344px);
    padding-bottom: rem(491px);
    padding-left: rem(790px);
  
    
    .heading {
      font-size: 64px;
      font-weight: 700;
      line-height: 120%;
    }
    p {
      color: $light-gray;
      font-weight: 500;
      font-size: 22px;
      line-height: 200%;
    }
    .get-started {
      width: 262px;
      height: 68px;
      background-color: $black;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      transition: 0.7s;
      p {
        margin: 0;
        color: #ffffff;
      }
    }
    .get-started:hover {
      background-color: $light-gray;
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
