@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;
.grid-element {
  background-color: $card-back;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  min-height: rem(345px);
  justify-content: flex-end;
  position: relative;
  max-height: rem(334px);

  .grid-element:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .currency-image {
    top: -50px;
    border-radius: 50%;
    border: rem(15px) solid white;
    position: absolute;
    border-collapse: collapse;
    
  }
  .title {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
  }
  .price {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: $light-gray;
    padding-bottom: rem(57px);
  }
}

@media (max-width: 320px) {
  .grid-element {
    .currency-image {
      max-width: rem(150px);
      top: -20px;

    }
    .price {
      padding-bottom: rem(39px);
    }
  }
}
