@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;
.grid-element {
  background-color: $card-back;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  .grid-element:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .currency-image {
    position: relative;
    bottom: 30px;
    border-radius: 50%;
    outline: rem(20px) solid white;
    margin-bottom: 46px;
  }
  .title {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
  }
  .price {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: $light-gray;
  }
}
