@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.multi-chain-container {
  display: flex;
  justify-content: center;
  .text {
    font-family: $font;
    text-align: center;
    padding-bottom: rem(140px);
    .multi-chain-heading {
      font-size: 64px;
      font-weight: 700;
      line-height: 134%;
      color: $black;
    }
    .multi-chain-paragraph {
      color: $light-gray;
      font-weight: 500;
      font-size: 22px;
      line-height: 200%;
    }
  }

  @media (max-width: 768px) {
    .text {
      .multi-chain-heading {
        font-size: 32px;
      }
      .multi-chain-paragraph {
        font-size: 14px;
      }
    }
  }
}
