@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
.text2 {
  font-family: $font;
  text-align: center;
  margin: auto;
  padding-bottom: rem(140px);
  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 134%;
    color: $black;
  }
  p {
    color: $light-gray;
    font-weight: 500;
    font-size: 22px;
    line-height: 200%;
  }
}
