@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.hero-container {
  background-color: $background;
  display: flex;
  justify-content: center;
  background-image: url("../../../public/images/iphone/iPhone.png") , url("../../../public/images/iphone/green-glow.png"), url("../../../public/images/iphone/lines.png");
  background-repeat: no-repeat;
  background-position: right bottom , ;
  .main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-bottom: rem(277px);
    padding-top: rem(200px);
    margin: 0px;
    font-family: $font;
    color: $text-color;
    .heading {
      margin: 0;
      font-size: 84px;
      font-weight: 700;
      line-height: 120%;
    }
    .text {
      margin: 0;
      line-height: 200%;
      font-weight: 500;
      font-size: 22px;
    }

    .hero-buttons-container {
      width: fit-content;
      display: flex;
      flex-direction: row;
      gap: rem(30px);
      @media (max-width: 675px) {
        flex-direction: column;
        gap: rem(30px);
      }
      .hero-buttons {
        min-width: 262px;
        height: 64px;
        background-color: $text-color;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
      }
      .learn-more {
        padding: 18px, 48px;
        background-color: $button-gradient;
        transition: 0.7s;
        p {
          margin: 0;
        }
      }
      .learn-more:hover {
        background-color: rgba(255, 255, 255, 0.22);
        cursor: pointer;
        transform: scale(1.1);
      }
      .get-started {
        padding: 18px, 48px;
        background-color: $green;
        transition: 0.7s;

        p {
          margin: 0;
        }
      }
      .get-started:hover {
        background-color: #00e995;
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

}
