@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.hero-container {
  background-color: $background;
  display: flex;
  justify-content: center;
  position: relative;

  .main {
    display: flex;
    flex-direction: column;
    padding-bottom: rem(277px);
    padding-top: rem(200px);
    font-family: $font;
    color: $text-color;
    z-index: 1;

    .heading {
      font-size: rem(84px);
      font-weight: 700;
      line-height: 120%;
      margin-bottom: rem(94px);
    }

    .text {
      line-height: 200%;
      font-weight: 500;
      font-size: rem(22px);
      margin-bottom: rem(105px);
    }

    .hero-buttons-container {
      width: fit-content;
      display: flex;
      flex-direction: row;
      gap: rem(30px);
      .hero-buttons {
        color: $white;
        min-width: 262px;
        min-height: 64px;
        background-color: $text-color;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
      }
      .learn-more {
        padding: 18px, 48px;
        background-color: $button-gradient;
        transition: 0.7s;
      }
      .learn-more:hover {
        background-color: rgba(255, 255, 255, 0.22);
        cursor: pointer;
        transform: scale(1.1);
      }
      .get-started {
        padding: 18px, 48px;
        background-color: $green;
        transition: 0.7s;
      }
      .get-started:hover {
        background-color: #00e995;
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
  .phone {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 1200px) {
  .hero-container {
    flex-direction: column;
    .main {
      padding-top: 60px;
      padding-bottom: 0;
    }
    .phone {
      position: relative;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .hero-container .main {
    .heading,
    .text {
      text-align: center;
    }
    .heading {
      font-size: 46px;
    }
    .text {
      font-size: 14px;
    }
    .hero-buttons-container {
      flex-direction: column;
      width: 100%;
    }
    
  }
}
