$green: #00ad6f;
$darkgreen: #348f6d;
$font: Poppins;
$black: #16181d;
$light-gray: #708599;
$card-back: #f7f7f8;
$white: #ffffff;
$background: #16181d;
$text-color: #ffffff;
$button-gradient: rgba(255, 255, 255, 0.06);
$footer-rules:rgba(255, 255, 255, 0.6);