@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.grid-container {
  display:flex;
  justify-content: center;
  .swiper {
    padding: 40px rem(68px);
    max-width: 1532px;
  }
}
