@use "../../styles/variables" as *;

.navigation {
  background-color: $background;
  width: 100%;
  padding: 30px 210px;
  margin: auto;
  color: $text-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $font;
  font-size: 18px;
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    transition: 0.7s;
    p {
      margin: 0;
    }
  }
  .nav-logo:hover{
    opacity: 0.5;
    cursor: pointer;
  }
  .log-in{
    transition: 0.7s;
  }
  .log-in:hover{
    opacity: 0.5;
    cursor: pointer;
  }
}



