@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.navbar-container {
  background-color: $background;

  .navigation {
    width: 100%;
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    margin: auto;
    color: $text-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: $font;
    font-size: 18px;
    .nav-logo {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 22px;
      transition: 0.7s;
      p {
        margin: 0;
      }
    }
    .nav-logo:hover {
      opacity: 0.5;
      cursor: pointer;
    }
    .log-in {
      transition: 0.7s;
    }
    .log-in:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
