@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.footer-container {
  background-color: $background;
  display: flex;
  justify-content: center;
  color: $white;
}

.footer-content {
  padding-top: rem(200px);
  padding-bottom: rem(100px);
  font-family: $font;
  display: flex;
  flex-direction: column;
  .upper-hr {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: rem(100px);
    .social-media {
      padding-bottom: rem(16px);
      display: flex;
      gap: rem(40px);
      align-self: flex-end;

      img {
        max-width: rem(30px);
        transition: 0.7;
      }
      img:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
    .help {
      
      max-width: rem(840px);
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
      }
      h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 134%;
      }
    }
  }
  .lower-hr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(100px);
    padding-top: rem(84px);
    color: $footer-rules;
    font-size: 18px;
    p.rights {
      font-weight: 500;
      line-height: 180%;
    }
    .download-buttons-container {
      .download-button {
        background-color: $button-gradient;
      }
    }

    .footer-rules {
      display: flex;
      flex-direction: row;
      gap: rem(50px);
      font-weight: 600;
    }
  }
}

@media (max-width: 1200px) {
  .footer-container {
    .footer-content,
    content {
      .upper-hr {
        
        flex-direction: column;
        align-items: flex-start;
        .help {
          h1 {
            padding-bottom: rem(60px);
          }
          p {
            padding-bottom: rem(34px);
          }
        }
        .social-media {
          align-self: start;
          padding: 0;
        }
      }
      .lower-hr {
        flex-direction: column-reverse;
        align-items: center;
        .download-buttons-container {
          padding-top: rem(48px);
          padding-bottom: rem(84px);
        }
        .footer-rules{
          padding-bottom: rem(20px);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-container {
    .footer-content,
    content {
      padding-top: rem(80px);
      .upper-hr {
        
        .help {
          p {
            font-size: 14px;
          }
          h1 {
            font-size: 20px;
          }
        }
        .social-media{
          gap:rem(24px)
        }
      }
      .lower-hr {
        flex-direction: column-reverse;
        align-items: center;
        .download-buttons-container {
          width: 100%;
          flex-direction: column;
          margin: auto;
          .download-button {
            .download-button-text {
              p {
                font-size: 14px;
              }
              h6 {
                font-size: 22px;
              }
            }
          }
        }
        .footer-rules {
          order: 1;
          align-self: start;
        }
      }
    }
  }
}
