@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.download-buttons-container {
  display: flex;
  flex-direction: row;
  gap: rem(30px);
  max-width: fit-content;
  margin: 0;
  .download-button {
    color: $white;
    min-width: 262px;
    min-height: 64px;
    background-color: $black;
    border-radius: 10px;
    font-family: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: rem(9px) rem(38px);
    transition: 0.7s;

    .download-button-text {
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
      }
      h6 {
        font-weight: 500;
        font-size: 22px;
        line-height: 160%;
      }
    }
  }
  .download-button:hover {
    cursor: pointer;
    transform: scale(1.1); 
  }
}
