@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.modal-window-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: $modalBackground;

  .modal-window {
      background-color: $background;
      font-family: $font;
      color: $light-gray;
      display: flex;
      flex-direction: column;
      padding: rem(80px) rem(85px) rem(80px) rem(80px);
      background-image: url("../../../public/images/modal-glow.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      border-radius: 20px;
      max-width: 100%;
      max-height: 100%;
      overflow: auto;
      position: relative;

      .close-modal {
        position: absolute;
        top: rem(20px);
        right: rem(24px);
      }

      .main-label {
        font-weight: 600;
        font-size: 36px;
        line-height: 126%;
        color: $white;
      }
      .less-label {
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        margin-bottom: rem(48px);
      }
      .form {
        display: flex;
        justify-content: space-between;
        .text-input {
          padding: 11px 18px;
          background-color: inherit;
          border: 1px solid $light-gray;
          outline: 2px solid #24262b;
          border-radius: 6px;
        }
      }
    }
}


@media (max-width: 768px) {
  .modal-window-container {
    .modal-window {
      width: 100%;
      height: 100%;
    }
  }
}